#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatibility version to use.
# export DH_COMPAT=4

#PACKAGE=`pwd | sed -e "s/.*\/\\(.*\\)-.*/\\1/"`
ENV=/usr/bin/env
PERL=/usr/bin/perl
MODULESPACKAGE=libperlbal-perl
DAEMONPACKAGE=perlbal
CONFDIR=$(CURDIR)/debian/$(DAEMONPACKAGE)/usr/share/perlbal

BM=blib.modules
BD=blib.daemon

build:
	dh_testdir
	# Add here commands to compile the package.
	$(ENV) DANGABUILD_MODULESONLY=1 $(PERL) Makefile.PL verbose INSTALLDIRS=vendor INST_LIB=$(BM)
	cp Makefile Makefile.modules
	$(ENV) DANGABUILD_DAEMONONLY=1 $(PERL) Makefile.PL verbose INSTALLDIRS=vendor INST_LIB=$(BD) INST_SCRIPT=$(BD) 
	cp Makefile Makefile.daemon

clean:
	dh_testdir
	dh_testroot

	-$(MAKE) -f Makefile.modules clean
	-$(MAKE) -f Makefile.daemon clean
	rm -f Makefile.old Makefile.modules Makefile.daemon
	rm -rf $(BD) $(BM)
	dh_clean

install:
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	$(MAKE) -f Makefile.modules PREFIX=$(CURDIR)/debian/$(MODULESPACKAGE)/usr OPTIMIZE="-O2 -g -Wall" test install
	$(MAKE) -f Makefile.daemon PREFIX=$(CURDIR)/debian/$(DAEMONPACKAGE)/usr OPTIMIZE="-O2 -g -Wall" install
	-find $(CURDIR)/debian -type d | xargs rmdir -p --ignore-fail-on-non-empty

	install -d $(CONFDIR)
	install -m 644 conf/perlbal.conf $(CONFDIR)/perlbal.conf.default
	install -m 644 conf/nodelist.dat $(CONFDIR)/nodelist.dat.default

binary-arch:;
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installman
	dh_installinit
	dh_installchangelogs CHANGES
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_perl
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
